body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #69707a;
}

:root {
    --primaryBgc: #20262c;
    --secBgc: rgba(0, 0, 0, 0.07);
    --primaryText: #fff;
    --secText: #9e9e9e;
    --gray-dark: #343a40;
    --fade-dark: #475c70;
    --header-dark: #31373d;
    --btnPrimary: #007ced;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--secText);
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

#admin-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #212832;
}

.admin-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 15px;
    background: #438eb9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-sidebar {
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    width: 190px;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;
    box-shadow: 4px 1px 8px -5px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 4px 1px 8px -5px rgb(0 0 0 / 75%);
    -moz-box-shadow: 4px 1px 8px -5px rgb(0 0 0 / 75%);
}

.dropdown li i.submenu-arrow {
    position: absolute;
    font-size: 12px !important;
    top: calc(50% - -2px);
    left: -15px;
    transform: translateY(-50%);
    width: 10px !important;
    display: inline-block;
    z-index: 55;
    opacity: 0;
    transition: 0.2s all linear;
}

.dropdown li.active i.submenu-arrow {
    opacity: 1;
}

.dropdown li:hover i.submenu-arrow {
    opacity: 1;
}

.main-containt {
    position: absolute;
    left: 190px;
    top: 60px;
    width: calc(100vw - 190px);
    height: calc(100vh - 60px);
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f2f6fc;
}

.inner-wrapper {
    padding: 0 60px;
}

.inner-heading {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #212832;
    padding: 10px 60px;
    border-bottom: 1px solid #e0e5ec;
}

h1.page-header-title {
    color: #212832;
    font-size: 20px;
}

h1.page-header-title i {
    margin-right: 10px;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    padding: 25px 30px;
    height: 100%;
}

ul.breadcrumb-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-wrapper {
    padding: 15px 60px;
}

li.bread-item.active a {
    color: #438eb9;
    font-weight: 600;
}

li.bread-item {
    padding: 10px;
    position: relative;
}

li.bread-item i.icon-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 15px;
}

.admin-brand img {
    width: 90px;
    margin-right: 15px;
}

img.img-profile.rounded-circle {
    width: 40px;
}

ul.admin-navigation {
    margin: 0;
    padding: 0;
}

.admin-navigation a {
    text-decoration: none;
    color: #585858;
    padding: 10px 10px;
    display: block;
    font-size: 13px;
}

.admin-navigation .nav-item {
    position: relative;
}

.admin-navigation .nav-item.active>a {
    color: #0b6cbc;
    font-weight: bold;
}

.admin-navigation .nav-item:hover>a {
    color: #0b6cbc;
}

.admin-navigation .nav-item.active>a:after {
    display: block;
    content: "";
    position: absolute !important;
    right: 1px;
    top: 5px;
    border: 8px solid transparent;
    border-width: 14px 10px;
    border-right-color: #0b6cbc;
}

.admin-navigation li {
    border-bottom: 1px solid #e5e5e5;
}

.admin-navigation .dropdown {
    display: block;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    transition: all 0.5s linear;
}

.admin-navigation .nav-item.open .dropdown {
    height: auto;
    opacity: 1;
}

ul.admin-navigation li i {
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.nav-item.has-dropdown ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    background: #fff;
}

.nav-item.has-dropdown ul.dropdown>li {
    position: relative;
}

.nav-item.has-dropdown ul.dropdown>li:after {
    content: '';
    position: absolute;
    height: calc(100% + 5px);
    width: 1px;
    background: #e5e5e5;
    top: 0;
    left: 0;
}

.nav-item.has-dropdown ul.dropdown>li:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 5px;
    background: #e5e5e5;
    top: 50%;
    left: 0;
}

.nav-item.has-dropdown i.menu-arrow {
    position: absolute;
    right: 5px;
    transition: 0.2s all linear;
}

.nav-item.open i.menu-arrow {
    transform: rotate(180deg);
}

.admin-navigation .nav-item.active:after {
    content: '';
    height: 100%;
    background: #0b6cbc;
    width: 2px;
    top: 0;
    position: absolute;
    right: -1px;
}

ul.shortcut-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
}

ul.shortcut-nav li {
    width: calc(25% - 3px);
    text-align: center;
    border: 2px;
}

ul.shortcut-nav li:nth-child(1) {
    background-color: #87b87f;
}

ul.shortcut-nav li:nth-child(2) {
    background-color: #6fb3e0;
}

ul.shortcut-nav li:nth-child(3) {
    background-color: #ffb752;
}

ul.shortcut-nav li:nth-child(4) {
    background-color: #d15b47;
}

ul.shortcut-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    display: block;
}

.control {
    margin-top: 15px;
}

.control .form-check-label {
    margin-right: 15px;
}

.text-end.avtar-section {
    text-align: right !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 10px;
    cursor: pointer;
    background: #fff3;
}

.avtar-dropdown {
    position: absolute;
    right: -200%;
    top: 100%;
    width: 100%;
    text-align: left;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear;
    border-radius: 5px;
    background-color: #438eb9;
}

.text-end.avtar-section.show-avtar .avtar-dropdown {
    right: 0;
    opacity: 1;
    z-index: 5;
}

.avtar-wrapper span.small {
    color: #fff;
}

button.btn-logout {
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
}

.avtar-dropdown a.avtar-dropdown-text {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    transition: all 0.2s linear;
}

.avtar-dropdown a.avtar-dropdown-text:hover {
    background: #fff3;
}


.avtar-wrapper i {
    color: #fff;
    transition: all 0.3s;
    display: inline-block;
    transform: rotate(90deg);
}

.text-end.avtar-section.show-avtar .avtar-wrapper i {
    transform: rotate(270deg);
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
    min-height: 150px;
}

.input-wrapper {
    margin-bottom: 20px;
}

.label-block {
    display: block;
}

a.ui-state-default {
    text-align: center !important;
}

.input-wrapper .image-wrapper {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.input-wrapper .image-wrapper img {
    width: 100%;
}

ul.dropdown li.active a {
    background: #0b6cbc;
    color: #fff;
}

.lara-error {
    width: 100%;
    display: block;
    color: red;
    font-size: 14px;
}

.badge:hover {
    color: #ffffff;
}

/* laravel pagination link style */
.pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
}

.pagination-wrapper ul.pagination {
    margin: 0;
    padding: 0;
}

.row.event-nav {
    margin-bottom: 20px;
}

.tCategory-item-wrapper {
    overflow: hidden;
    margin-top: 50px;
    position: relative;
}


.tCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: calc(200% - 320px);
    transform: translateX(0);
    transition: 0.2s all linear;
}

.tCategory.ticket-section {
    transform: translateX(calc(-50% + 175px));
}

.category-form {
    width: calc(50% - 175px);
}

.tCategory-info {
    width: 320px;
    background: #1e3644;
    padding: 25px;
}

.tCategory-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tCategory-info ul li {
    color: #fff;
    text-align: left;
    padding: 3px 0;
}

.tCategory-info ul li.category-description {
    font-size: 13px;
}

.tCategory-info ul li.b-bottom {
    border-bottom: 1px solid #fff;
}

.tCategory-info ul li span {
    float: right;
}

.tCategory.ticket-section .tCategory-info {
    padding: 25px 25px 70px 25px;
}

a.btn.btn-success.cat-edit-ticket {
    position: absolute;
    bottom: 25px;
}

.ticket-form {
    width: calc(50% - 175px);
    height: 335px;
    overflow-y: scroll;
    padding-right: 20px;
}

.maxticket-info {
    display: flex;
    width: 100%;
}

.maxticket-info .input-wrapper {
    width: 100%;
}

.form-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-edit-ticket {
    display: none;
}

.tCategory.ticket-section .cat-edit-ticket {
    display: inline-block;
}

.button-wrapper {
    margin-top: 25px;
}

.button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-width {
    width: 100%;
    text-align: center;
}

.full-width.btnsec {
    text-align: left;
}

.btn-text {
    width: calc(50% - 15px);
    margin: 25px 0;
}

.loader-function {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    transform: translateX(0);
    opacity: 0;
    z-index: -1;
    transition: 0.5s all linear;
}

.tCategory-item.processing .loader-function {
    opacity: 1;
    z-index: 55;
    transform: translateX(1);
}

.loader-function i {
    animation: rotate 2s linear infinite;
}

/* flash error message design  */
.flash-message {
    position: fixed;
    right: 15px;
    top: 70px;
    padding: 10px 25px;
    z-index: 5555;
}

#flash-error-message {
    border: 2px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
}

#flash-success-message {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
}

.btn-info-text {
    margin-top: 15px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 15px;
}

.form-row .adsController.card {
    text-align: center;
    position: relative;
}

.adsController input[name="advs"] {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.adsController input[name="advs"]+label {
    padding: 10px 0;
}

.form-row .adsController input[type="file"] {
    margin-top: 15px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input.form-control.input-reset {
    border: unset;
}

input.form-control.input-reset:focus {
    border: unset;
    box-shadow: unset;
}

.adsController.card.active {
    border: 3px solid green;
}
